/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Fredoka', sans-serif;
}

/* COMMON */
/* CLEARFIX */
.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

/* container generale centrato */
.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

h1 {
  color: #e53170;
  margin-top: 30px;
  margin-bottom: 50px;
}
h1 + p {
  margin: 20px 0px;
}

section {
  padding: 20px 0px;
}
/* colonna */
.col {
  width: calc(100% / 3);
  float: left;
  color: white;
  padding: 20px;
}

.card {
  float: left;
  background-color: #0f0e17;
  width: calc(100% -100px);
}

img {
  width: 100px;
  float: left;
}

.content {
  float: left;
  padding: 15px 20px 0px 5px;
  text-align: left;
}

.email {
  color: #6ecbe3;
}
