/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* COMMON */
/* CLEARFIX */
.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

/* container generale centrato */
.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

img {
  width: 100px;
}

h1 {
  color: #e53170;
  margin-top: 30px;
}
p {
  margin: 20px 0px;
}

section {
  padding: 20px 0px;
}
/* colonna */
.col {
  width: calc(100% / 3);
  float: left;
}

/* .card {
  width: calc(100% -110px);
  float: left;
} */
